    * {
      padding: 0px;
      margin: 0px;
    }
    
    body {
      width: 100%;
      height: 100vh;
      box-sizing: border-box;
      background: #222;
      color: #ffd;
    }
    
    .main {
      padding: 20px;
    }
    
    .header {
      text-align: center;
      color:#afebfa;
      text-shadow: 0px 0px 10px #3AD8FF,
      0px 0px 20px #3AD8FF,
      0px 0px 30px #3AD8FF,
      0px 0px 40px #3AD8FF,
      0px 0px 50px #3AD8FF;
      padding: 10px 0px;
    }
    
    .container {
      margin-top: 0px;
      width: 60%;
      height: auto;
      box-shadow: 0px 0px 10px #3AD8FF,
      0px 0px 20px #3AD8FF,
      0px 0px 30px #3AD8FF,
      0px 0px 80px #3AD8FF,
      0px 0px 350px #3AD8FF;
      padding: 30px 10px;
      text-align: center;
      border-radius: 50px;
      background: #1f2324;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
    
    label {
      font-size: 23px;
      color: #3AD8FF;
      text-shadow: 0px 0px 10px #3AD8FF,
      0px 0px 20px #3AD8FF,
      0px 0px 30px #3AD8FF,
      0px 0px 40px #3AD8FF,
      0px 0px 5cap #3AD8FF;
    }
    
    input {
      width: 100%;
      height: 40px;
      margin: 5px 0px 30px 0px;
      border-radius: 50px;
      border: none;
      outline: none;
      background: transparent;
      font-size: 20px;
      text-align: center;
      color: #FFFFFF;
      box-shadow: 0px 0px 1px 1px #4edbe6,
       0px 0px 5px 1px #66e3ec;
    }
    
    
    #signup {
      width: 40%;
      height: 40px;
      margin-bottom: 10px;
      border-radius: 50px;
      border: none;
      outline: none;
      color: #f7f7f7;
      background: transparent;
      font-size: 20px;
      box-shadow:0px 0px 1px 1px #4edbe6,
      0px 0px 5px 1px #66e3ec;
      position: relative;
    }
    #signup::after{
      position: absolute;
      content: "Sign up";
      width: 0%;
      height: 100%;
      left:0px;
      top:0px;
      border-radius: 50px;
      box-shadow: 0px 0px 50px 1px #3AD8FF,
      0px 0px 5px 1px #3AD8FF,
      inset 0px 0px 5px 25px #3AD8FF,
      inset 0px 0px 5px 15px #3AD8FF;
      display: none;
    }
    
    #signup:hover::after{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a {
      font-size: 18px;
      text-decoration: none;
      color: #ffffff;
      }
